<form>
    <div class="form-group">
        <label>Speaking Avatar</label>
        <div class="form-fields">
            <file-picker name="active" type="image" value="{{active}}"></file-picker>
        </div>
    </div>
    <div class="form-group">
        <label>Quiet Avatar</label>
        <div class="form-fields">
            <file-picker name="inactive" type="image" value="{{inactive}}"></file-picker>
        </div>
    </div>
    <div class="form-group">
        <label>Muted Avatar</label>
        <div class="form-fields">
            <file-picker name="muted" type="image" value="{{muted}}"></file-picker>
        </div>
    </div>
    <div class="form-group">
        <label>Deafened Avatar</label>
        <div class="form-fields">
            <file-picker name="deafened" type="image" value="{{deafened}}"></file-picker>
        </div>
    </div>
</form>